.view-playlist {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 0 2.5%;
  transition: opacity 0.25s;

  .cover {
    margin: auto;
    aspect-ratio: 1;
    min-width: 0;
    width: 50%;

    img {
      display: block;
      width: 100%;
      border-radius: 8px;
      transition: scale 0.2s;

      &:hover {
        scale: 1.05;
      }
    }

    a:focus-visible {
      img {
        scale: 1.05;
      }
    }
  }
}